html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

/*Barva textu  #ffffff.
Podkladová tmavě modrá  #283e50.
Tlačítko Pravidla  #1fcca4. A po najetí myši  #1cbb96.
Tlačítko Začít hrát  #0197f6. Po najetí  #0090e9.*/

body {
  padding: 0;
  margin: 0 0 20rem 0;
  background: rgb(255, 200, 218);
  background: linear-gradient(
    10deg,
    rgba(255, 200, 218, 1) 0%,
    rgba(97, 93, 173, 1) 100%
  );
  background-repeat: no-repeat;
}

.general-container,
.play-rules {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  max-width: 400px;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  background-color: #283e50;
  color: #ffffff;
}

.play-rules {
  max-width: 800px;
  text-align: unset;
  font-size: 20px;
}

.photo {
  border-radius: 10px 10px 0px 0px;
}

h1 {
  margin-bottom: 1rem;
  font-family: 'Lobster', cursive;
  font-size: 55px;
  font-weight: 400;
  text-align: center;
}

p {
  padding: 1rem 1rem 2.5rem 1rem;
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons a {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding: 1rem;
}

.buttons__green {
  background-color: #1fcca4;
  border-bottom: solid 2px #283e50;
}

.buttons__green:hover {
  background-color: #1cbb96;
}

.buttons__blue {
  background-color: #0197f6;
}

.buttons__blue:hover {
  background-color: #0090e9;
}

.description {
  padding: 0rem 3rem 3rem 3rem;
}

.rules__item {
  margin-top: 1rem;
}

.circle,
.cross {
  filter: invert(100%);
}

.image-description {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  margin-bottom: 2rem;
}

.image-description__item {
  max-width: 40%;
}

.image-description__item img {
  max-width: 100%;
}

@media (max-width: 540px) {
  .description {
    padding: 0rem 1rem 1rem 1rem;
  }

  .image-description__item {
    max-width: 100%;
  }

  .general-container {
    max-width: 80%;
  }
}

@media (max-width: 810px) {
  .play-rules {
    max-width: 80%;
  }

  .image-description {
    justify-content: center;
  }

  .image-description__item {
    max-width: 70%;
  }
}
